name: Update Filters
on:
  push:
    paths-ignore:
      - 'README.md'
      - 'README_en.md'
    branches: [ main ]
  schedule:
    - cron: 0 */8 * * *
  workflow_dispatch:

env:
  TZ: Asia/Shanghai

jobs:
  Update_Filters:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn -B package

      - name: Run Jar
        run:  java -jar ./target/adg-rule-1.0.0.jar

      - name: Commit Changes
        id: commit
        run: |
          if [ -z "$(git status --porcelain)" ]; then 
              exit 0
          else
            echo "::set-output name=status::success"
            git add .
            git config --local user.email "ec.cheng.16888@gmail.com"
            git config --local user.name "fordes123"
            git commit -m "CI Updated at $(date +'%Y-%m-%d %H:%M:%S')" -a
          fi

      - name: GitHub Push
        if: steps.commit.outputs.status == 'success' && !cancelled()
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          branch: ${{github.ref}}

      - name: Mirror Refresh
        run: sleep 10 && curl 'https://purge.jsdelivr.net/gh/${{github.repository}}/rule'


      - name: Delete Workflow Runs
        uses: GitRML/delete-workflow-runs@main
        with:
          retain_days: 1
          keep_minimum_runs: 1
